@use "../base";

$color1: #fafafa;
$color2: #222830;
$color3: #e8e8e8;
$color4: #2228302f;

$fontsize1: 25px;
$fontsize2: 15px;

.isLoading {
  font-size: 50px;
  color: $color1;
  text-align: center;
}

.project-body-1 {
  @extend %project-body-shared;
  background: $color1;
  padding-top: 0;
  h1 {
    position: unset;
    font-size: $fontsize1;
    font-weight: 700;
    color: $color2;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  overflow: auto;

  .header {
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: $color1;
    padding-left: 20px;
    margin: 0px -20px 10px -20px;

    filter: drop-shadow(0 2px 5px $color4);
    z-index: 2;
  }

  .buttons {
    width: 100%;
    min-height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 5px;
  }

  .back {
    width: 20px;
    height: 14px;

    background-image: url(../../../../public/Assets/P1/backArrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;

    border: none;
  }

  .cart {
    width: 20px;
    height: 20px;

    margin-right: 20px;

    background-image: url(../../../../public/Assets/P1/Cart.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;

    border: none;
  }

  .category-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    margin-top: 15px;
    margin-bottom: 15px;

    min-height: 40px;

    font-size: $fontsize2;

    overflow-x: auto;
    overflow-y: hidden;

    button {
      min-width: fit-content;
      min-height: 100%;
      padding: 0.5em 1.25em;

      background-color: $color3;
      border-radius: 45px;
      flex-basis: content;
      border: none;
    }
    .active {
      border: 2px solid $color2;
      background-color: $color1;
    }
  }
  .category-container::-webkit-scrollbar {
    display: none;
  }

  .product-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;

    .wrapper {
      display: flex;
      width: 40%;
      height: auto;
      max-height: 300px;
      flex-grow: 1;
      flex-flow: column nowrap;

      margin-left: 10px;

      img {
        width: 100%;
        height: 80%;
        border-radius: 12px;
        margin-bottom: 5px;
      }

      %productText {
        font-size: $fontsize2;
        color: $color2;
      }

      h1 {
        @extend %productText;
        margin-top: 0;
        margin-bottom: 0;
      }
      h1:nth-of-type(1) {
        font-weight: 400;
        margin-bottom: 2px;
      }
    }
  }
}

.project-body-1::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 425px) {
  .project-body-1 {
    .product-container {
      .wrapper {
        h1 {
          z-index: auto;
          font-size: 3.5vw;
        }
        max-height: 300px;
        img {
          height: 70%;
        }
      }
    }
  }
}
