$color1: #222830;
$color2: #29313d;
$color3: #1e242d;
$color4: #3cd281;
$shadowColor: #16191e;

%neonBase {
  position: relative;
  top: -5px;

  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: $color4;
  line-height: 15px;
  letter-spacing: 0.1em;

  grid-column: 1;
  grid-row: 1;
}

.Screen {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $color1;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title {
    position: fixed;
    height: auto;
    display: flex;
    justify-content: space-between;
    top: 10px;
    left: 20px;
    right: 20px;
  }

  h1 {
    left: 20px;
    font-weight: 900;
    color: #fafafa;
    font-size: 20px;
  }

  .portfolio-container {
    align-self: flex-end;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }

  .portfolio-text {
    @extend %neonBase;
  }
  .portfolio-blur {
    @extend %neonBase;
    filter: blur(2px);
    margin-left: 2px;
  }
}

.Viewer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 425px;
  max-height: 896px;
  min-width: 212px;
  min-height: 448px;

  margin: 50px;

  background: $color3;
  border: solid 10px $color2;
  border-radius: 12px;
  box-shadow: 0px 4px 22px $shadowColor, inset 0px 0px 12px $shadowColor;

  overflow: hidden;
}
.desktop {
  max-width: 100%;
  max-height: 100%;
  .wrapper {
    max-width: 180px;
  }
  .project-body-1 {
    .category-container {
      justify-content: flex-start;
    }
  }

  .chart-container {
    max-width: 325px;
    align-self: center;
  }
  .sidemenu {
    width: 162px;
  }
}

.Top {
  width: 47px;
  height: 3px;
  border-radius: 3px;
  background: $color3;
}

.NavBar {
  width: 100%;
  max-height: 10%;
  padding: 10px;
  filter: drop-shadow(-10px 0 10px $shadowColor);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: $color2;

  button {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0;
  }

  %navigationArrow {
    width: 30px;
    height: 30px;
    background-position: center;
  }

  .view {
    background-image: url(../../public/Assets/desktop.svg);
    width: 30px;
    height: 30px;
  }
  .active {
    background-image: url(../../public/Assets/desktop_on.svg);
  }
  .forward {
    @extend %navigationArrow;
    background-image: url(../../public/Assets/Right.svg);
  }
  .back {
    @extend %navigationArrow;
    background-image: url(../../public/Assets/Left.svg);
  }

  .project-selection {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    max-width: 300px;
    align-items: center;
    justify-content: space-between;
  }

  .dropDown {
    width: 100%;
    max-width: 180px;
    .btn-primary {
      width: 100%;
      height: 5vh;
      border: 2px solid $color4;
      border-radius: 10px;
      text-align: center;
    }
  }

  .tracker {
    width: 62px;
    height: 62px;
    max-height: 90vh;
    border-radius: 45px;
    border: 2px solid $color4;
    background-color: transparent;
    color: $color4;
    text-align: center;
    line-height: 60px;
  }
}

@media screen and (max-width: 425px) {
  %mobileTextBase {
    bottom: 5px;
    top: auto;

    font-style: normal;
  }
  .Viewer {
    max-width: 100%;
    max-height: 90%;
    margin: 0;
    border: 0;
    border-radius: 0;
  }

  .Screen {
    position: absolute;
    display: initial;
    height: 100%;

    overflow: visible;

    .title {
      bottom: 6.5%;
      top: auto;
      right: 10px;
      left: 10px;
      z-index: 1;
    }

    h1 {
      @extend %mobileTextBase;
      color: #fafafa;
      font-size: 1.5vh;
      margin: 0 0 5px 0;
      letter-spacing: 0.05em;
      line-height: normal;
    }

    .portfolio-text {
      font-size: 2vh;
      top: auto;
    }
    .portfolio-blur {
      font-size: 2vh;
      top: auto;
    }
  }
  .view {
    display: none;
  }

  .NavBar {
    height: 10%;
    padding: 15px 10px 5px 10px;

    .project-selection {
      justify-content: center;
    }

    .dropDown {
      width: 100%;
      margin: 0;
      .btn-primary {
        width: 100%;
        height: 5vh;
        border: 2px solid $color4;
        border-radius: 10px;
      }
    }

    .tracker {
      display: none;
    }
  }
}
